// 公共变量
$primary-size-xlg: 20px;
$primary-size-lg: 18px;
$primary-size-md: 16px;
$primary-size-xs: 14px;
$primary-fontColor: #333333;
$primary-bgColor: #fee407;

//  公共样式
.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.flex-align-center {
  display: flex;
  align-items: center;
}
.flex-justify-around {
  display: flex;
  justify-content: space-around;
}
.flex-justify-flex-end {
  display: flex;
  justify-content: flex-end;
}
.flex-direction-column {
  display: flex;
  flex-direction: column;
}
.flex-direction-reverse {
  display: flex;
  flex-direction: row-reverse;
}
.flex-justify-between {
  display: flex;
  justify-content: space-between;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.flex-align-end {
  display: flex;
  align-items: flex-end;
}

// transition
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

// input
input {
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 36px;
  line-height: 36px;
  outline: none;
  padding: 0 15px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
  &:focus {
    outline: none;
    border-color: #409eff;
  }
}
